{% extends "layout.html" %}

{% block body %}

    <div class="row spacing-top">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <h3>404 Error</h3>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row spacing">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <br class="my-4">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row spacing">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <h2 class="lead">ISBN was not found in the database</h2>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row spacing">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <br class="my-4">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row spacing-bottom">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <a id="link" href="/">Go Home</a>
        </div>
        <div class="col-sm-3"></div>
    </div>

{% endblock %}